<% title "Categorizer" %>
<h3>Input text and I will guess the category</h3>
<h2><%= @category %></h2>
<% form_for :categorize do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_area :text, :value => @text %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
